.graph-modal {
  &__close {
    right: 40px;
    top: 40px;
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-text);
  }
}
.popup {
  padding: 40px;

  &__top {
    margin-bottom: 40px;
    display: flex;
  }

  &__image {
    margin-right: 40px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--color-dark);
  }

  &__work {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-text);
  }
}

.tabs {
  &__menu {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(20, 16, 36, 0.11);
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    &-btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--color-dark);
    }
  }
}
